<div>
    <div class="content-container">
        <h1 style="color: #1D3557">Register Route</h1>
    </div>

    <div class="content">
        <mat-card>
            <form class="driver-form" [formGroup]="routeForm">
                <table class="table-field" cellspacing="0">
                  <tr>
                      <td>
                          <mat-form-field class="field">
                              <mat-label>Route name</mat-label>
                              <input formControlName="routeName" matInput placeholder="Route Sg. Ara">
                          </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field class="field">
                            <mat-label>Choose Route Image (.jpeg, .png)</mat-label>
                            <ngx-mat-file-input formControlName = "routeImage"></ngx-mat-file-input>
                        </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <mat-form-field class="field">
                            <mat-label>Set Shuttle</mat-label>
                            <mat-select formControlName="shuttle">
                              <mat-option *ngFor="let shuttle of listOfShuttles" value="{{shuttle.id}}">{{shuttle.plateNo}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                      </td>
                    <td>
                      <mat-form-field class="field">
                          <mat-label>Set Driver</mat-label>
                          <mat-select formControlName="driver">
                            <mat-option *ngFor="let driver of listOfDrivers" value="{{driver.id}}">{{driver.fullname}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
              </table>
              
              <table class="table-field" cellspacing="0">
                <div>
                    <h3 style="color: #1D3557">Add route schedules</h3>
                </div>

                <tr class="schedule-picker">
                    <td>
                        <tag-input formControlName="pickupTime" [secondaryPlaceholder]="'Pickup time (e.g. 9:00AM)'" [placeholder]="'Enter pickup time'"></tag-input>
                    </td>
                </tr>

                <tr class="schedule-picker">
                    <td>
                        <tag-input formControlName="dropoffTime" [secondaryPlaceholder]="'Dropoff time (e.g. 3:00PM)'" [placeholder]="'Enter dropoff time'"></tag-input>
                    </td>
                </tr>

                <div>
                    <h3 style="color: #1D3557">Add route locations</h3>
                    <div class="form-group">
                        <table class="table-field" cellspacing="0">
                            <tr>
                                <td>
                                    <mat-form-field class="field">
                                        <mat-label>Search address</mat-label>
                                        <input matInput placeholder="Bus stop" #searchAddress>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <button (click)="addAddress()" mat-raised-button class="action-button" style="width: 150px;">Add address</button>
                                </td>
                            </tr>
                        </table>
                        
                      </div>
                    <agm-map 
                        [latitude]="latitude" 
                        [longitude]="longitude" 
                        [zoom]="zoom" >
                        <agm-marker 
                            [latitude]="latitude" 
                            [longitude]="longitude"
                            >
                        </agm-marker>
                    </agm-map>

                    <tag-input [(ngModel)]="listOfAddresses" [ngModelOptions]="{standalone: true}" [secondaryPlaceholder]="'Addresses'" [placeholder]="'Enter pickup time'"></tag-input>
                </div>
              </table>
  
              <button mat-raised-button class="action-button cancel" (click)="cancelRegisterRoute()">Cancel</button>
              <button mat-raised-button class="action-button register" (click)="registerRoute()">Register</button>
            
          </form>
        </mat-card>
    </div>
</div>