<div>
    <mat-toolbar>
        <span>Shuttle Stalk Admins</span>
        <span class="spacer"></span>
        <span><a [routerLink]="['shuttle']" routerLinkActive="active">Shuttles</a></span>
        <span><a [routerLink]="['route']" routerLinkActive="active">Routes</a></span>
        <span><a [routerLink]="['drivers']" routerLinkActive="active">Drivers</a></span>
        <span><a [routerLink]="['announcements']" routerLinkActive="active">Announcements</a></span>
        <span><a [routerLink]="['students']" routerLinkActive="active">Students</a></span>
        <span><a [routerLink]="['admins']" routerLinkActive="active">Admins</a></span>
        <span><a [routerLink]="['profile']" routerLinkActive="active">Profile</a></span>
    </mat-toolbar>
</div>



