<div>
    <div class="content-container">
        <h1 style="color: #1D3557">New Announcement</h1>
    </div>

    <div class="content">
        <mat-card>
            <form class="announcement-form" [formGroup]="announcementForm">
                <table class="table-field" cellspacing="0">
                  <tr>
                      <td>
                          <mat-form-field class="field">
                              <mat-label>Announcement Title</mat-label>
                              <input formControlName="title" matInput placeholder="Ex. Update on shuttle">
                          </mat-form-field>
                      </td>
                  </tr>
                  <tr>
                      <td>
                        <mat-form-field class="field">
                            <mat-label>Content</mat-label>
                            <textarea formControlName="content" matInput placeholder="Ex. shuttle not available..."></textarea>
                        </mat-form-field>
                      </td>
                  </tr>
              </table>
  
              <button (click)="navigateToAnnouncement()" mat-raised-button class="action-button cancel">Cancel</button>
              <button (click)="createAnnouncement()" mat-raised-button class="action-button register">Submit</button>
            
          </form>
        </mat-card>
    </div>
</div>