<div>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
    <div class="content-container">
        <h1 style="color: #1D3557">Manage Shuttles</h1>
        <button mat-raised-button (click)="navigateToRegisterShuttles()" class="add-button">Register shuttle</button>
    </div>
    <mat-grid-list cols="4" rowHeight="410px">
        <mat-grid-tile *ngFor="let shuttle of listOfShuttles" style="margin-top: 50px">
            <div class="container">
                <img *ngIf="shuttle.downloadUrl == 'no image'" src="assets/shuttle-default.png" class="shuttle-img"/>
                <img *ngIf="shuttle.downloadUrl != 'no image'" [src]="shuttle.downloadUrl" class="shuttle-img"/>
                <h3>{{shuttle.plateNo}}</h3>
                <button mat-raised-button (click)="navigateToInfoPage(shuttle)" class="settings-button">More Information</button>
                <button mat-raised-button (click)="deleteShuttle(shuttle)" class="delete-button">Delete</button>
            </div>
        </mat-grid-tile>
      </mat-grid-list>
</div>