<div>
    <div class="content-container">
        <h1 style="color: #1D3557">Manage Shuttles</h1>
        <button mat-raised-button (click)="navigateToRegisterShuttles()" class="add-button">Register shuttle</button>
    </div>
    <mat-grid-list cols="4" rowHeight="410px">
        <mat-grid-tile style="margin-top: 50px">
            <div class="container">
                <!-- <section class="header">
                    <img src="assets/shuttle-default.png" style="width: 250px"/>  
                </section> -->    
                <img src="assets/shuttle-default.png" class="shuttle-img"/>           
                <h3>PMS 2447</h3>
                <button mat-raised-button class="settings-button">More Information</button>
                <button mat-raised-button class="delete-button">Delete</button>
            </div>
        </mat-grid-tile>
      </mat-grid-list>
</div>