<div>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
    <div class="content-container">
        <h1 style="color: #1D3557">Shuttle Information</h1>
    </div>

    <div class="content">
        <mat-card>
            <form class="driver-form" [formGroup]="shuttleForm">
                <table class="table-field" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="field">
                                <mat-label>Shuttle Plate no.</mat-label>
                                <input formControlName="plateNo" matInput placeholder="ABC 1234">
                            </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field class="field">
                              <mat-label>No. of seatings</mat-label>
                              <input formControlName="seats" type="number" matInput placeholder="Ex. 10">
                          </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                      <td>
                          <mat-form-field class="field">
                              <mat-label>Choose Shuttle Image (.jpeg, .png)</mat-label>
                              <ngx-mat-file-input formControlName = "shuttleImage" accept="image/*"  (change)="validateFile()"></ngx-mat-file-input>
                          </mat-form-field>
                      </td>
                    </tr>
              
                </table>
  
              <button mat-raised-button class="action-button cancel" (click)="cancelEditShuttle()">Cancel</button>
              <button mat-raised-button class="action-button register" (click)="editShuttle()">Save changes</button>
            
          </form>
        </mat-card>
    </div>
</div>