<div>
    <div class="content-container">
        <h1 style="color: #1D3557">Register Driver</h1>
    </div>

    <div class="content">
        <mat-card>
            <form class="driver-form">
                <table class="table-field" cellspacing="0">
                  <tr>
                      <td>
                          <mat-form-field class="field">
                              <mat-label>Driver's fullname</mat-label>
                              <input matInput placeholder="Derek Hans">
                          </mat-form-field>
                      </td>
                      <td>
                          <mat-form-field class="field">
                              <mat-label>I.C</mat-label>
                              <input matInput placeholder="Ex. 12345678">
                          </mat-form-field>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <mat-form-field class="field">
                              <mat-label>Email for Driver</mat-label>
                              <input matInput placeholder="derekhans@mail.com">
                          </mat-form-field>
                      </td>
                      <td>
                          <mat-form-field class="field">
                              <mat-label>Password for Driver</mat-label>
                              <input type="password" matInput placeholder="Ex. 12345678">
                          </mat-form-field>
                      </td>
                  </tr>
              </table>
  
              <button mat-raised-button class="action-button cancel">Cancel</button>
              <button mat-raised-button class="action-button register">Register</button>
            
          </form>
        </mat-card>
    </div>
</div>